[build]
  command = "npm install && npx prisma generate && npx prisma db push && npm run db:seed && npm run build"

[build.environment]
  NODE_VERSION = "20"

[[plugins]]
  package = "@netlify/plugin-nextjs"
